/*
Color Scheme:
purple Navy: #4c6085
brilliant Azure: #39A0ED;
Turquoise: #36F1cd;
robin egg blue: #00cecb
Jet: #32322c;
white

*/
.navbar{
	background: #36f1cd;
	border: none;
}
#content{
	text-align: center;
	padding-top: 10%;
}
#midlinks{
	align-content: center;
	margin-top: 50px;
}
#left-l{
	text-align: right;
	background-color: #41ddf2;
}
#mid-l{
	background-color: #41ddf2;
}
#right-l{
	text-align: left;
	background-color: #41ddf2;
}
#icon-l{
	color: black;
}
body{
	background: #00cecb;
}
hr{
	padding-left: 50px;
	padding-right: 50px
}